.container {
	width: 210mm;
	margin: 0 auto;
	color: var(--second-color);
	background-color: var(--main-color);
	box-shadow: 0 10px 10px grey;
	height: 296.8mm;
	box-sizing: border-box;
}

hr {
	border-color: var(--second-color);
}

.content {
	display: flex;
	justify-content: space-between;
  }

body {
	margin: 0;
}

#app {
	height: 297mm;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul {
    margin: 0;
    list-style-type: none
}

@font-face {
	font-family: 'Ubuntu';
	src: local('Ubuntu'),
		url(../fonts/Ubuntu.woff2) format('woff2'),
		url(../fonts/Ubuntu.woff) format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

body {
	font-family: Ubuntu;
}